/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su contenedor */
}



/* Estilos para el contenido */
.contenido {
    display: flex;
    margin-top: 140px;
}

/* Estilos para las columnas */
.columna {
    display: flex;
    flex: 1;
    padding: 20px;
    border-right: 2px solid #E0E0E0;
    flex-direction: column;
    justify-content: start;
    align-items: center; /* Centra verticalmente los elementos dentro de la columna */
}

#botonCompra {
    margin: auto; /* Agrega margen automático a izquierda y derecha para centrar horizontalmente */
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
#botonCompra:hover{
    background-color: #245c24;
}
#botonCompra:disabled {
    background-color: gray; /* Cambia el color de fondo a gris cuando el botón está deshabilitado */
    /* Otros estilos opcionales */
    color: white; /* Cambia el color del texto a blanco */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

/* Estilos para los formularios */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para el carrito de compras */
#shopping-cart {
    margin: 40px;
    width: 50%;
    float: right;
    padding: 20px;
    
}

#shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
}

#shopping-cart table td {
    background-color: #ffffff;
}

.txt-heading {
    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    overflow: auto;
    margin-bottom: 5px;
}

.tbl-cart {
    font-size: 0.9em;
}

.tbl-cart th {
    font-weight: normal;
}

.product-title {
    margin-bottom: 20px;
}

.cart-item-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.direccion {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.direccion:hover {
    transform: scale(1.05);
}

.direccion h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.direccion p {
    margin: 5px 0;
    color: #666;
}

#contenedor-direcciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
