*{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0; /* Elimina el relleno en todos los elementos */

}
.parallax-section {
    height: 500px; /* Altura de la sección */
   /* background-color: #222; /* Color de fondo detrás de la imagen */
    overflow: hidden; /* Para que la imagen no sobresalga de la sección */
    position: relative;
    margin: 0 20px; /* Añadimos márgenes a los lados */
}

.parallax-image {
    background-image: url('../assets/Productos/MoriaCage/Moria_Front.jpg'); /* Ruta de la imagen */
    height: 100%;
    background-attachment:fixed; /* Fijar la imagen para el efecto parallax */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    position: relative;
    z-index: -1; /* Colocar detrás del contenido */
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.parallax-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo del enlace */
    border-radius: 5px;
}

.parallax-link:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo del enlace al pasar el ratón */
}
.product-description{
    text-align: center;

    max-width: 500px;
    margin: 20px auto; /* Centra el elemento horizontalmente */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    height: 800px;
    justify-items: center;
  }
  
  .grid-item {
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra cuando pasa el ratón */
    transition: box-shadow 0.3s ease; /* Transición suave */
    max-width: 600px;
    max-height: 800px;
    
    background-size: cover;
    background-position: center;
  }
  
  .grid-item:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
  }
  .item1 {
    background-image: url('../assets/Productos/MoriaCage/Moria_Front.jpg'); /* Ruta de la imagen para el primer contenedor */
  }
  
  .item2 {
    background-image: url('../assets/Productos/YamatoCage/preview.jpg'); /* Ruta de la imagen para el segundo contenedor */
  }
  
  .item3 {
    background-image: url('../assets/Productos/PeronaCage/preview.jpg'); /* Ruta de la imagen para el tercer contenedor */
  }
  
  .item4 {
    background-image: url('../assets/Productos/CajaDados/preview2.jpg'); /* Ruta de la imagen para el cuarto contenedor */
  }
  
  .content {
    padding: 20px;
    text-align: center;
    color: aliceblue;
    width: 700px;
  }
  
  .content h2 {
    margin-bottom: 10px;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
