
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;     /* Alinea los elementos verticalmente en el centro */
  padding: 20px;           /* Espaciado interno */
  background-color: #f8f8f8;
}
.producto{
    display: flex;
    flex-direction: row;
    

}

  /* Estilos para la vista previa y las imágenes seleccionables */
  .imagenes {
    display: flex;
    flex-direction: row;
    height: 800px;

  }
  .selecionables {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 700px;
  }
  .selecionables img {
    width: 75px; /* Ajusta el tamaño según tus necesidades */
    margin: 5px;
    cursor: pointer;
    border: #000000 1px solid;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.51);
  }
  #preview {
    width: 400px;
  }
  .imagenpreview{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  .datos{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
  }
  .datos .nombre{
    font-size: 30px;
    width: 400px;
  }
  .formulario{
    width: 420px;
  }

  /* Media query */
  @media only screen and (max-width: 768px) {
    .producto {
      flex-direction: column-reverse;
      margin: 25px;
    }
    #content {
      margin-top: 50px; /* Ajusta según tus necesidades */
    }
    .imagenes {
      flex-direction: column;
      height: auto;
      margin-left: 0; /* Elimina el margen izquierdo */
    }
    .selecionables {
      flex-direction: row; /* Cambia a filas para que las imágenes sean horizontales */
      align-items: flex-start; /* Ajusta la alineación de los elementos */
      width: auto;
      height: auto;
      margin: 10px 0; /* Ajusta el margen */
    }
    .selecionables img {
      width: 50px; /* Ajusta el tamaño según tus necesidades */
      height: auto;
    }
    #preview {
      width: auto;
      max-width: 100%; /* Hace que el ancho máximo sea el tamaño del contenedor */
      margin: 10px 0; /* Ajusta el margen */
    }
    .imagenpreview {
      width: auto;
      height: auto;
    }
    .datos{
      height: auto;
    }
    .datos, .formulario {
      width: auto;
      max-width: 100%; /* Hace que el ancho máximo sea el tamaño del contenedor */
      margin: 10px 0; /* Ajusta el margen */
    }
    .datos .nombre {
      width: auto;
      font-size: 20px; /* Ajusta el tamaño de fuente */
    }
  }
  