

/* -------------------------------- 


-------------------------------- */
header{
  z-index: 4;
}
#product-grid{
  background-color: blanchedalmond;
  margin-top: 150px;

}


#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  margin-top: 50px;
  margin-right: 0px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-cart {
    width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 30%;
    /* header height has changed */
    padding-top: 110px;
  }
}


#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
  transform: translateX(0); /* Asegúrate de que el valor de translateX es correcto */
  transition: transform 0.3s ease-in-out;
  /* Otros estilos necesarios para que el panel sea visible */
}

#cd-cart > * {
  padding: 0 1em;
}


#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
#cd-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(#435779, .6);
	cursor: pointer;

	z-index: 2;

	display: none;

	
}
.menu.is-visible {
	display: block;
	animation: cd-fade-in 0.3s;
}



#shopping-cart {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.txt-heading {
  color: #211a1a;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.tbl-cart {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

.tbl-cart th,
.tbl-cart td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tbl-cart th {
  font-weight: bold;
}

.cart-item-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  padding: 5px;
  margin-right: 15px;
  vertical-align: middle;
}

.no-records {
  text-align: center;
  margin-top: 20px;
}

.checkout-btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #5cb85c;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #4cae4c;
}
