<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>3dax</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
    <!--<link rel='stylesheet' type='text/css' media='screen' href='styles/estiloscomunes.css'> -->
    <script src='javascript/script.js' defer></script>
</head>
<body>
    <header class='cabecera'>
        <div class='logo'> <a href="/index.html">
            <p>3Dax</p> </a>
        </div>
        
    <nav class="menu">
        <ul class='nav-links' id='nav-links'>
            <li><a href="#">Deckbox</a>
                <ul>
                    <li><a href="#">Moria</a></li>
                    <li><a href="#">Ace</a></li>
                    <li><a href="#">Yamato</a></li>
                    <li><a href="#">Boa Hancock</a></li>
                    <li><a href="#">ZONA OUTLET</a></li>
                </ul></li>
            <li><a href="#">Gadgets</a></li>
            <li><a href="#">Katanas</a></li>
            <li><a href="#">Llaveros</a>
            </li>
            <li><a href="#">Servicio de impresión </a></li>
            <li><a href="#">SOPORTES ESCULTURAS DE PARED</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
    
</header> 
<br>
<section class="parallax-section">
    <div class="parallax-image">
        <div class="parallax-content">
        <h1 style="font-size: 48px;">Bienvenido a 3Dax</h1>
        <a href="pages/cajas/Moira/Moria.html" class="parallax-link">¡Más Info!</a>
        </div>
    </div>
</section>

<div class="product-description">
    <h2>¡Guarda tus Cartas con Estilo!</h2>
    <p>¿Eres un verdadero fan de One Piece TCG? 
        Entonces necesitas nuestra Caja de Mazo 
        Personalizada 3D. Con diseños únicos inspirados 
        en tus líderes favoritos, esta caja no solo protege 
        tu mazo de cartas y dones, sino que también incluye 
        un compartimento secreto para tus dados. ¡Nunca más 
        pierdas tus cartas y dale un toque de estilo a tus 
        partidas!</p>
</div>
<br>
<div class="grid-container">
    <div class="grid-item item1">
      <div class="content">
        <h2>Contenedor 1</h2>
        <p>Texto de prueba</p>
        <button>¡Más info!</button>
      </div>
    </div>
    <div class="grid-item item2">
      <div class="content">
        <h2>Contenedor 2</h2>
        <p>Texto de prueba</p>
        <button>¡Más info!</button>
      </div>
    </div>
    <div class="grid-item item3">
      <div class="content">
        <h2>Contenedor 3</h2>
        <p>Texto de prueba</p>
        <button>¡Más info!</button>
      </div>
    </div>
    <div class="grid-item item4">
      <div class="content">
        <h2>Contenedor 4</h2>
        <p>Texto de prueba</p>
        <button>¡Más info!</button>
      </div>
    </div>
  </div>
<br>
    
</div>


</body>
</html>