<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/estiloscomunes.css'>
</head>
<body>
</html>
<div class="header-top">    
    <div class="icons-container"></div> 
    <div class='logo'>
        <a href="index.php"><h1>3Dax</h1></a>
    </div>    
    <div class="icons-container" id="user-icons"></div>
</div> <!-- Fin del header-top -->
<nav class="menu">
    <ul class='nav-links' id='nav-links'>
        <li class="link"><a href="Deckbox.php">Deckbox</a></li>
        <li class="link"><a href="Gadgets.php">Gadgets</a></li>
        <li class="link"><a href="Llaveros.php">Llaveros</a></li>
        <li class="link"><a href="Servicio.php">Servicio de impresión</a></li>
        <li class="link"><a href="Contacto.php">CONTACTO</a></li>
    </ul>
</nav>
</body>